.post
	background: #eee !important
	line-height: 1
	padding: 5px
	margin-bottom: 5px !important
	border: 1px solid #eee
	font-size: 1em

	p
		margin-bottom: 5px;
		
	p.tagline
		font-size: .75em

	.author
		font-weight: bold
		
.markdown
	*
		font-size: 1px